html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Header Page */

.headerPage {
  background-color: #1F2531;
  height: 50px;
  width: 100%;
}
.inline {
  display:inline-block;
}

.logo {
  margin-top: -15px;
  width: 50px;
  height: 50px;
}

.headerText {
  margin-top: 12px;
  margin-left: 20%;
  width: 100%;
  color: #DFDFDF;
}

.btnLogout {
  margin-top: 8px;
  margin-left: 90%;
  background-color: #6A7FA7;
  color: #DFDFDF;  
}

/* loading page */

.loadingPage {
  background-color: rgba(255, 255, 255, 0.14);
  height: 100%;
  width: 100%;
}

.loadingPage img{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  width: auto;
}

/* Login */
.loginPage {
    background-image:url('../images/loginBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.loginContainer {   
  position: absolute; 
  left: 10%;
  right: 10%;
  top: 25%;
  bottom: 30%;
  padding: 30px;
  max-width: 600px;;
  max-height: 600px;;
  height: 100%;
  width: 100% !important;
  border-color: white;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginContainer h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 51px;
}

.loginContainer input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginContainer input[type=email], input[type=password] {
  height:55px;
  border-radius:2px 2px 2px ;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input.invalid{
    border: 1px solid #FF3838 !important;
    border-top: 1px solid #FF3030 !important;
}

.labelError {
    color: #C04E4E;
}

.errorLoginMessage {
  display: none;
  background-color: #F8C3C3;
  color: #FF3030;
  border-color: #6B0000;
  opacity: 0.6;
  text-align: center;
}

.loginContainer input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginSubmitButton {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: rgba(49,49,111,0.3);
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginSubmitButton:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginContainer a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  }
  
  /* RecordingsList */
  .recordingsListPage {
    background-image:url('../images/loginBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 120%;
  }

  .recordingsListContainer {
    max-height: 80%;
    width:100%; 
    height: 100%;
    overflow-y:auto; 
    position:relative;
  }

  .playButton {
    width:60px;
    height:60px;
    border-radius:100%;
    background-color: #3A61AA;
    color:rgba(49,49,111,0.3);
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-top: 35px;
    border: none;
    outline: 0 !important;
  }

  .playButton:hover{
    background-color: #357ae8;
  }

  .playButton img {
    width: 30px;
    height: 30px;
  }

  .recordingDescription {
    color: rgba(255, 255, 255, 0.71);
  }

  .recordingTime {
    color: rgba(255, 255, 255, 0.71);
  }

  .recordingDate {
    color: rgba(255, 255, 255, 0.71);
  }

  .recordingRating {
    color: rgba(255, 255, 255, 0.71);
  }

  .recordingData {
    font-size: 18px;
    text-align: right;
  }

  .star {
    width: 25px;
    height: 25px;
  }

  .headerRecording {
    display: none;
  }

  .headerRecordingShow {
    display: block;
  }
  